html {
  background-color: #a6a5a5;
}
h1 {
  color: #e4e2f9;
  text-align: center;
}

a {
  color: white;
  font-family: montserrat;
  text-decoration: none;
}

main {
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}
