html {
  background-color: #e4e3e3;
}
h1 {
  color: #737373;
  text-align: center;
}

a {
  color: #6f4a8e;
  font-family: montserrat;
}

main {
  background-color: white;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
}
